@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
}

@theme {

    /* Tailwind Generates CSS like bg-primary-btn, text-primary-btn, etc. */
    --color-primary-btn: #15803d;
    --color-primary-hover-btn: #14532d;
    --color-primary-txt: #15803d;

    --color-primary: #4b0082;
}